.Profile {
  max-height: 100vh;
  font-family: 'Oswald', sans-serif;
  color: white;
  text-align: center;
}

.Name {
  margin-top: 40%;
  font-weight: 600;
  font-size: 80px;
}

.Description {
  font-weight: 500;
  font-size: 16px;
}

.Icons {
  margin-top: 4%;
}

.Icons a {
  margin-left: 2%;
  margin-right: 2%;
  color: white;
}

.Icons a:hover {
  color: #6699CC;
}
