.App {
  display: flex;
}

.Left {
  width: 50%;
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
  background-image: url("me.jpg");
  background-blend-mode: multiply;
  background-color: #343434;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 100vh;
}

.Right {
  width: 50%;
}
